
:root {
  --btn-bg: #2e2e2e;
}

body.theme-medieval {
  --bg-color: #3e2f23;
  --text-color: #f0e6d2;
}

body.theme-cabin {
  --bg-color: #5e4b3c;
  --text-color: #f7f3e9;
}

body.theme-neon {
  --bg-color: #021b14;
  --text-color: #00ffcc;
}

body.theme-scifi {
  --bg-color: #0a0f2c;
  --text-color: #99ccff;
}

body.theme-medieval .particle { background-color: #ff9933; }
body.theme-cabin .particle { background-color: #ffc180; }
body.theme-neon .particle { background-color: #00ffcc; }
body.theme-scifi .particle { background-color: #7fd4ff; }
